body {
    font-family: Arial, Helvetica, sans-serif;
    background: #E0E0E0;
    padding: 0px;
    margin: 0px;
    color: #333;
    min-height: 100%;
}

input[type=checkbox] {
    -ms-transform: scale(1.75);
    /* IE */
    -moz-transform: scale(1.75);
    /* FF */
    -webkit-transform: scale(1.75);
    /* Safari and Chrome */
    -o-transform: scale(1.75);
    /* Opera */
}

select {
    height: 40px;
    width: 100%;
    background: white;
}

.chooseMySpecies {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.editIcon {
    position: relative;
    top: 0px;
    right: 0px;
}

.smallText {
    font-size: 9px;
}

.editCheck {
    position: relative;
    top: 10px;
    right: 3px;
}

.speciesListContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
    height: 350px;
}

.bgimg {
    background-image: url("../images/iMapBG.gif");
    background-repeat: no-repeat;
    background-size: 100%;
}

html {
    height: 100%
}

.iMapMapdiv {
    width: 280px;
    height: 340px;
}

.imgwrapper {
    max-width: 98%;
}

.header {
    text-align: left;
    position: fixed;
    height: 20px;
    left: 0px;
    right: 0px;
    background: #FFF;
    padding: 25px 0px 5px 0px;
    border-bottom: 5px solid #CCC;
    font-size: 20px;
    font-weight: bold;
}

.footer {
    position: fixed;
    height: 22px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #FFF;
    color: 888;
    text-align: center;
    padding: 5px 0px 0px 0px;
    border-top: 5px solid #CCC;
    font-size: 12px;
}

.modal-box {
    top: 150;
    text-align: center;
    display: none;
    position: absolute;
    z-index: 9020;
    width: 98%;
    height: 200px;
    background: white;
    border-bottom: 1px solid #aaa;
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

.modal-overlay {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9020;
}

.img-overlay {
    width: 100%;
    height: 100%;
}

.input-text {
    color: black;
}

.float-left .card {
    float: left;
    width: 300px;
    height: 270px;
}

.multi-column {
    columns: 300px 3;
    -webkit-columns: 300px 3;
}

.card {
    text-decoration-color: white;
    background: #FFFF66;
    border: 1px solid #AAA;
    border-bottom: 3px solid #BBB;
    padding: 10px;
    margin: 0px;
    overflow: hidden;
}

.card h1 {
    margin: 0px;
    padding: 10px;
    padding-bottom: 0px;
}

.card p {
    margin: 0px;
    padding: 10px;
}

.card-image {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    image-orientation: from-image;
}

.card-image .banner {
    height: 50px;
    width: 50px;
    top: 0px;
    right: 0px;
    background-position: top right;
    background-repeat: no-repeat;
    background-image: url('../images/new.png');
    position: absolute;
}

.card-image h1,
.card-image h2,
.card-image h3,
.card-image h4,
.card-image h5,
.card-image h6 {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    background: rgba(0, 0, 0, 0.65);
    margin: 0px;
    padding: 6px;
    border: none;
}

.rightColumn,
.leftColumn {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.column {
    display: inline-block;
    vertical-align: top;
}

.image1 {
    background-image: url('http://farm6.staticflickr.com/5323/9902848784_cbd10ba3ca_c.jpg');
}

.image2 {
    background-image: url('http://farm6.staticflickr.com/5448/9901034384_e3de7406c3_c.jpg');
}

.image3 {
    background-image: url('http://farm8.staticflickr.com/7383/9899900453_4540cf9de6_c.jpg');
}

.image4 {
    background-image: url('http://farm3.staticflickr.com/2811/9680904065_7f866f4ab5_c.jpg');
}

.image5 {
    background-image: url('http://farm6.staticflickr.com/5496/9684141030_70a80e3b40_z.jpg');
}

.image6 {
    background-image: url('http://farm4.staticflickr.com/3726/9522001276_21bb6fbd64_z.jpg');
}

.extraDataEntry {
    margin: 1em 0;
}

.hidden {
    display: none !important;
}

#pref-intro {
    margin: 1em 0.25em;
    border: 0.1em solid black;
    padding: 0.5em;
    background: #fffec9;
}

#pref-intro span {
    display: block;
    margin: 0.5em 0;
}

.pref-intro-bold {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
}

#takePicImg {
    border: 1px solid #000000;
    padding: 0.25em;
    background: #ffffff;
    box-shadow: 0px 0px 2px 1px rgb(189, 189, 189);
    border-radius: 0.2em;
    display: block;
    margin: 0.25em auto 0.5em;
    max-height: 14em;
    width: auto;
    image-orientation: from-image;
}

#takePicButtonContainer {
    display: block;
    text-align: center;
    margin: 0.5em 0;
}

#takePicButton {
    display: inline-block;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    color: #ffffff;
    font-size: 1.1em;
    background: #2bb14e;
    padding: 0.5em 1em;
    text-decoration: none;
    box-shadow: 0px 0px 2px 1px rgb(189, 189, 189);
    border: 2px solid #848484;
    font-weight: bold;
}

#AilanthusEntryDiv span {
    margin: 0.5em 0;
    display: block;
}